replicaCount: 1

image:
  repository: your-registry/face-detector-backend
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  containerPort: 8080

ingress:
  enabled: false
  hosts:
    - host: chart-example.local
      paths:
        - /
  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
